<header>
    <h1>EJS's TRAVELS</h1>
    <nav id="menu">
        <!-- por medio de la sintaxi de corchete y porcentaje sin el signo
            de igual inserto codigo JS en el html para generar 
            dinamicamente el  nav con los valores recuperado desde
            el archivo Json .
            Poniendo el igual hago que el contenido sea visible en el html-->
        <% travels.forEach(travel=> { %>
            <a href="/<%= travel.id %>"><%= travel.lugar %></a>
        <% }); %>
    </nav>
</header>